<!-- PWA manifest 설정 -->
<link rel="manifest" href="/manifest.json">

<!-- 아이콘 설정 -->
<link rel="icon" type="image/png" sizes="512x512" href="/Study.png">
<link rel="apple-touch-icon" href="/Study.png">

<!-- PWA 최적화 메타 태그 -->
<meta name="theme-color" content="#000000">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="YSH Blog">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
