// overrides for TOC style
.toc {
  background-color: #111; // TOC background-color
  border: 1px solid #333;
  border-radius: 8px;

  .nav__title {
    background-color: #b60000; // Top title bar
    color: #fff;
    padding: 10px;
    font-weight: bold;
    font-size: 0.95em;
  }

  ul {
    padding: 10px;
  }

  li {
    margin-bottom: 6px;
  }

  a {
    color: #ccc; // Default link color
    text-decoration: none;

    &:hover {
      color: #fff; // On mouse hover
    }
  }
}