/* ==========================================================================
   Contrast skin
   ========================================================================== */

/* Colors */
$text-color: #000 !default;
$muted-text-color: $text-color !default;
$primary-color: #424242 !default;
$border-color: mix(#fff, $text-color, 75%) !default;
$footer-background-color: #000 !default;
$link-color: #0000ff !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

/* contrast syntax highlighting (base16) */
$base00: #000000 !default;
$base01: #242422 !default;
$base02: #484844 !default;
$base03: #6c6c66 !default;
$base04: #918f88 !default;
$base05: #b5b3aa !default;
$base06: #d9d7cc !default;
$base07: #fdfbee !default;
$base08: #ff6c60 !default;
$base09: #e9c062 !default;
$base0a: #ffffb6 !default;
$base0b: #a8ff60 !default;
$base0c: #c6c5fe !default;
$base0d: #96cbfe !default;
$base0e: #ff73fd !default;
$base0f: #b18a3d !default;

.page__content {

  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
    color: $text-color;
  }
}

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.toc__menu {
  background-color: #ffffff !important; // TOC 전체 배경
  border: 1px solid #ffffff !important; // 경계선
}

.toc__menu li a {
  color: #f50303 !important; // 항목 링크 색
}

.toc__menu li a:hover {
  color: #e4e2e2 !important; // 마우스 올렸을 때 색
}

.toc__menu::before {
  background-color: #ff0000 !important; // 위쪽 빨간 띠
  color: #fff !important; // "On this page" 글자
}

// "On this page" 배경색 (header)
.toc__menu-header {
  background-color: #ff0000 !important; // 원하는 색으로 변경
  color: white !important;
}

.toc__menu {
  &::before {
    background-color: #ff0000 !important; // 배경색
    color: #fff !important; // 글자색
  }
}

// YSH_05.01